/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
  /* width:100%; */
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #f1fefe;
}

.row {
    overflow: hidden;
    border: 0.063rem solid  #23667b;
    background-color: inherit;
}

.row a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.875rem 1rem;
    font-size: 1.063rem;
    transition: 0.3s;
}

.row a:hover {
    background-color: #9dcdca;
}

.tab-content {
    display: none;
    padding: 0.375rem 0.75rem;
    border:  0.063rem solid #23667b;
    border-top: none;
    width: 100%;
    
}

.top-section {
    background-color: #23667b;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

}

.top-section ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-section li {
    height: 60px;
}
.top-section a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: #f1fefe;
}
.top-section a:hover {
    background-color: #9dcdca;
}
.top-section li:first-child {
    margin-right: auto;
}
.top-section h1{
    animation: fadeText 5s ease-in-out 2s infinite;
    color: #f1fefe;

}
.tab-content span {
    grid-column-start: col2-start;
}

@keyframes fadeText {
    from {opacity: 0;}
    to {opacity: 1;}
  }
.top-section img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    padding: 10px;

}
.top-section button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: black;
    font-weight: bolder;
    background-color:#9dcdca;
    margin-top: 10px;
    margin-right: 30px;
}

.top-section button:hover {
    background-color: #f1fefe;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    box-shadow: 0 8px, 16px 0 rgba(0, 0, 0, 0.2);
    min-width: 100rem;
    position: absolute;
    background-color:#f1fefe;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #9dcdca;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.booking-section {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: row3-start;

}

.pin {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row: 1;

}
/* .appLogo {

} */