<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <div class="user-details">
        <h1>Profile</h1>
        <p th:text="$ui.name"></p>
        <p th:text="$ui.lastname"></p>
    </div>
    <div class="details">
        <p id="user-name"></p>
        <p id="user-surname"></p>
        <p id="user-dob"></p>
        <p id="user-email"></p>
    </div>
    
</body>
</html>